body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue-elements: hsl(209, 23%, 22%);
    --very-dark-blue-background: hsl(207, 26%, 17%);
    --very-dark-blue-text: hsl(200, 15%, 8%);
    --dark-gray-input: hsl(0, 0%, 52%);
    --very-light-gray-background: hsl(0, 0%, 98%);
    --white-elements: hsl(0, 0%, 100%);
}

[data-theme="dark"] {
    --background-color: var(--very-dark-blue-background);
    --text-color: var(--white-elements);
}

[data-theme="light"] {
    --background-color: var(--very-light-gray-background);
    --text-color: var(--very-dark-blue-text);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--dark-blue-elements);
    color: var(--white-elements);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
}

#theme-toggle {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#back-button {
    margin: 10px;
    padding: 1em 1.5em;
    background: var(--dark-blue-elements);
    border-radius: 5px;
    border: none;
    font-size: 30px;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#search-container {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

#search {
    width: 70%;
    padding: 0.5em;
    border: 1px solid var(--dark-gray-input);
    border-radius: 5px;
}

#region-filter {
    width: 28%;
    padding: 0.5em;
    border: 1px solid var(--dark-gray-input);
    border-radius: 5px;
}

#countries-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
    padding: 1em;
}

.country-card {
    background-color: var(--white-elements);
    border: 1px solid var(--dark-gray-input);
    padding: 1em;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.country-card img {
    width: 50%;
    height: auto;
    border-radius: 5px;
}

.country-card h2 {
    font-size: 16px;
    margin: 0.5em 0;
}

.country-card p {
    font-size: 14px;
    margin: 0.2em 0;
}

#country-details {
    padding: 1em;
}

#country-details img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#country-details h2 {
    font-size: 24px;
    margin: 0.5em 0;
}

#country-details p {
    font-size: 16px;
    margin: 0.5em 0;
}
.border-countries {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.border-country {
    padding: 0.5em 1em;
    background-color: var(--white-elements);
    border: 1px solid var(--dark-gray-input);
    border-radius: 5px;
    cursor: pointer;
}